.userItem {
  display: flex;
  gap: 1em;
  background-color: white;
  padding: 1em;
  border: 1px solid var(--main-color);
}

.userItem__iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.iconContainer__userIcon {
  height: 4.5em;
  width: 4.5em;
}

.iconContainer__followButton {
  padding: 0.2em 1em;
  min-width: 12ch;
}

.userItem__userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.userInfo__description {
  text-overflow: ellipsis;
}

.userInfo__id {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--main-color);
  font-weight: 700;
  font-size: var(--fs-300);
}