.message_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.message_input_block {
  display: flex;
  margin-bottom: 1em;
  gap: 1em;
  align-items: center;
  /* position: fixed;
  bottom: 0;
   */
}

.message_input_textarea {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .message_block {
 
  }
}
