.info {
  margin-top: 1em;
  display: flex;
  align-items: stretch;
  align-content: space-between;
}

.info_avatar {
  display: flex;
  flex-direction: column;
}

.info_description {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 1em;
}

.info_img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.job_icon {
  width: 64px;
  height: 64px;
  align-self: flex-end;
  margin-right: 1em;
}

.pick_file {
  position: relative;
  /* left: 200px; */
  /* top: 550px; */
  width: 115px;
  background-color: red;
  color: white;
}
