.info {
  margin-top: 1em;
  display: flex;
  align-items: stretch;
  align-content: space-between;
}

.info__avatar {
  display: flex;
  flex-direction: column;
}

.info__description {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 1em;
}

.info__description_username{
  font-size: var(--fs-600);
  line-height: 1em;
}

.info__description_status {
  color: var(--main-color);
  font-style: italic;
  font-size: var(--fs-400);
}

.info__description_profileInfo{
  font-size: var(--fs-400);
}

.info__avatar_img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.info__jobIcon {
  width: 64px;
  height: 64px;
  align-self: flex-start;
  margin-right: 1em;
}

.info__avatar_pickFile {
  position: relative;
  width: 115px;
  color: white;
}

.info__profileBlock {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  text-overflow: ellipsis;
}

.info__profileBlock_hover {
  font-size: var(--fs-200);
  font-weight: bold;
  color: rgba(255, 0, 0, 0.459);
  line-height: 1em;
}

@media screen and (max-width: 768px) {

  .info__avatar{
    display: none;
  }

  .info__jobIcon {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
  .info__description {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 0;
    height: 7em;
  }


  .info__description_status {
    font-size: var(--fs-300);
    font-weight: bold;
  }
  .info__profileBlock_hover {
    display: none;
  }


}
