.usersList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.pagination {
  margin: 0 auto;
  width: 28em;
  display: flex;
  justify-content: space-between;
}

.page {
  text-decoration: none;
  text-align: center;
}

.selectedPage {
  font-weight: bold;
  border-bottom: 2px solid var(--main-color);
  
}
