.chat__item {
  background-color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  text-decoration: none;

  
}
.avatar__block {
  position: relative;
}

.avatar__block_icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.status_circle {
  position: absolute;
  top: -5px;
  left: 42px;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  border: 2px solid white;
}

.green {
  background-color: #31bd1a;
}
.red {
  background-color: red;
}

.chat__item_text_wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
 
  width: 100%;
text-overflow: ellipsis;
  overflow: hidden;
}

.chat__item_name {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: var(--fs-400);
  height: 100%;
  align-content: center;
  width: 100%;
}
.messege_text {
  font-size: var(--fs-300);
  color: #8c8e8f;
  text-overflow: ellipsis;
  overflow: hidden;
}

.divider {
  width: 70%;
  margin-right: 0;
  margin-left: auto;
  height: 1px;
  border-width: 0px;
  background-color: var(--main-color);
}
