.chat_item {
  background-color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  text-decoration: none;
}

.avatar_icon {
  width: 54px;
  height: 54px;
  position: relative;
}

.green_circle {
  display: none;

  position: relative;
  top: -54px;
  left: 42px;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background-color: #31bd1a;
  border: 2px solid white;
}

.chat_item_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.chat_item_name {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: var(--fs-400);
  height: 100%;
  align-content: center;
  width: 100%;
}
.messege_text {
  font-size: var(--fs-300);
  color: #8c8e8f;
}

.divider {
  width: 70%;
  margin-right: 0;
  margin-left: auto;
  height: 1px;
  border-width: 0px;
  background-color: var(--main-color);
}


