.post_form {
  padding-top: 1.5em;
  height: 8em;
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}

.input {
  margin-bottom: 1em;
  margin-top: 0.5em;
  width: 100%;
}

.button {
  float: right;
}

.button:hover {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
