.post_form {
  padding-top: 1.5em;

  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}

.input {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.button:hover {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
