.message_item_own {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.6em 0.6em 0.6em 0;
  padding: 0.5em 1em;
  box-shadow: 4px 4px 4px 1px #21212110;
  max-width: 360px;
  border: 1px solid var(--main-color);
  word-wrap: break-word;
  /* overflow-wrap: break-word; */

  align-self: flex-start;
}
.message_item_friend {
  background-color: var(--background-color);
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 0.6em 0.6em 0 0.6em;
  border: 3px solid white;
  max-width: 360px;
  word-wrap: break-word;

  padding: 0.5em 1em;
  box-shadow: 4px 4px 4px 1px #21212110;
  width: 80%;

  align-self: flex-end;
}
