.header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 1.4em 2em 1em 2em;

  color: var(--main-text-color);
}

.logo_text {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
  flex-grow: 1;
}

.logo_img {
  height: 18px;
}

.login_block {
  display: flex;
  gap: 1em;
}

.link {
  text-decoration: none;
  color: white;
  line-height: 32px;
}

.display_none {
  display: none;
}

.avatar {
  height: 32px;
  width: 32px;
}

.hide {
  display: none;
}
