.pagination {
  margin: 0 auto;
  width: 28em;
  display: flex;
  justify-content: space-between;
}

.page {
  text-decoration: none;
  text-align: center;
  color: black;
  cursor: pointer;
}

.page_hidden {
  color: transparent;
  cursor: none;
}

.selectedPage {
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
