.header-line {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 5em;
  background-color: var(--main-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 5em 1fr;

  grid-template-areas:
    "header header"
    "nav cont";
  gap: 1em;
}

.app-content {
  grid-area: cont;
  padding-right: 1em;
}
