.button {
  padding: 0.5em 4em;
  background-color: var(--main-color);
  color: var(--main-text-color);
  border: none;
  cursor: pointer;

  align-self: flex-end;
}

.input {
  border: none;
  border: 1px solid var(--main-color);
  padding: 0.5em;
}

.spinner {
  position: absolute;
  top: 40vh;
}
