:root {
  /** colors */
  --main-color: rgb(220, 73, 63);
  --main-color-opac: rgba(220, 73, 63,0.25);
  /* --main-color: #dc493f; */
  --main-text-color: white;
  --background-color: #fbf9f9;

  /** font_sizes */
  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.75rem;
  --fs-200: 0.6rem;
}

@media screen and (max-width: 768px) {
  :root {
    /** font_sizes */

    --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
    --fs-600: 1.8rem;
    --fs-500: 1.5rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;
    --fs-200: 0.6rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}
